.important_actions
  padding: 30px
  &_list
    display: flex
    justify-content: center
    align-items: center
    list-style: none
    margin: 0
    padding: 0
    flex-wrap: wrap
    & >li
      position: relative
      background-color: #fff
      width: 222px
      height: 240px
      border-radius: 20px
      transition: all .3s ease
      &:hover
        box-shadow: 0 10px 30px rgba($textcolor, .2)
        transition: all .3s ease
        z-index: 10
      a
        display: flex
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        color: $textcolor
        text-decoration: none
        padding: 10px
        text-align: center
        &:active, &:visited
          outline: none
          color: $textcolor
        & h4
          display: flex
          justify-content: space-around
          align-items: center
          flex-direction: column
          height: 100%
          width: 100%
          .fa
            font-size: 4rem