$accent: #F4AE86 // Accent Color
$yellow: #FFBA4A
$bgcolor: #fff9f3
$textcolor: #241d19// Text Color
$textgrey: #848484
$borderColor: #e5e4e3
$bsh: 0px 5px 40px rgba($accent, 0.3)
$hbsh: 0px 10px 50px rgba($accent, 0.35)