.useful_link
  &_list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    justify-content: center
    align-items: center
    &_item
      width: 180px
      height: 80px
      display: flex
      justify-content: center
      align-items: center
      &_title
      &_media