.group {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 30px;
}

.group label {
    width: 100%;
    max-width: 200px;
}

.group input {
    width: 100%;
    max-width: 280px;
}

.group select {
    width: 100%;
    max-width: 280px;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');
.form_row__photo-previews {
    width: 100%;
    min-height: 80px;
    text-align: center;
    padding: 30px 0;
    position: relative
}

.form_row__photo-previews #js-photo-upload {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none
}

.form_row__photo-previews .add_photo-content {
    width: 100%;
    height: auto;
    position: relative;
}

.form_row__photo-previews .add_photo-item {
    min-height: 80px;
    line-height: 80px;
    cursor: pointer;
    font-size: 1.2rem;
    border: 3px dashed rgb(184, 184, 184);
    border-radius: 5px;
    margin-bottom: 20px;
    color: rgb(184, 184, 184);
    font-weight: 700;
    font-size: 1.4rem;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease
}

.form_row__photo-previews .add_photo-item:hover {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    color: rgb(99, 99, 99);
    border: 3px dashed rgb(99, 99, 99);
}

.form_row__photo-previews #uploadImagesList {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.form_row__photo-previews #uploadImagesList .item {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0;
    border: 1px solid rgba(38, 59, 94, .3);
    padding: 0;
    border-radius: 4px;
    position: relative
}

.form_row__photo-previews #uploadImagesList .item .img-wrap {
    height: 100px;
    width: 100px;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 50% 50%;
}

.form_row__photo-previews #uploadImagesList .item .img-wrap {
    font-size: 4rem;
}

.form_row__photo-previews #uploadImagesList .item input {
    max-width: 100%
}

.form_row__photo-previews #uploadImagesList .item .delete-link {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: rgb(255, 93, 93);
    border-radius: 5px;
    color: #fff;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.documents .btn{
    width: 170px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    margin: auto;
    color: #000000;
    background-color: #ddd;
}
.documents .btn:visited,
.documents .btn:focus{
    outline: none;
    color: #000000;
}
.document_list {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.document_list li {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(172, 172, 172);
}

.document_list li:hover,
.document_list li.active {
    background-color: #f0f0f1;
}

.document_list li .document_list_item_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    gap: 20px;
    color: rgb(59, 59, 59);
    text-decoration: none;
}

.document_list li .document_list_item_wrap .file_name {
    width: 100%;
    font-size: 18px;
    overflow: hidden;
    max-height: 50px;
}

.document_list li .document_list_item_wrap .file_name input,
.document_list li .document_list_item_wrap .file_name input:focus {
    outline: none !important;
    border: none;
    width: 100% !important;
    max-width: 100%;
    box-shadow: none !important;
    border-radius: 0;
    background-color: #fff;
}

.document_list li .document_list_item_wrap .file_name input[disabled] {
    color: rgb(59, 59, 59);
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.document_list li .document_list_item_wrap .file_icon {
    width: 40px;
    height: 40px;
    font-size: 32px;
    margin: 0 15px;
}

.document_list li .document_list_item_wrap .file_size {
    width: auto;
    font-size: 16px;
    font-weight: bold;
    margin: 0 15px;
}

.document_list li .file_action {
    width: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 0 15px;
}

.document_list li .file_action span {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-radius: 5px;
    text-decoration: none;
}
.document_list li .file_action span a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
}
.document_list li .file_action .file_edit {
    border-color: #34495e;
    color: #34495e;
}
.document_list li .file_action .file_edit.edit {
    border-color: #27ae60;
    color: #27ae60;
}
.document_list li .file_action .file_delete {
    border-color: #e74c3c;
    color: #e74c3c;
}
.document_list li .file_action .file_link {
    border-color: #3498db;
    color: #3498db;
}

.document_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background-color: rgba(226, 226, 226, 0.466);
    z-index: 99999;
}

.document_modal .close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    right: 50px;
    font-size: 3rem;
}

.document_modal .document_modal_content {
    width: 50%;
    height: 85%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.document_modal .document_modal_content select {
    max-width: 100%;
}

.folder {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 5px 40px rgba(244, 174, 134, 0.3);
    width: 100%;
    height: auto;
    min-height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: height 5s ease;
}

.folder.active .folder-summary {
    height: auto;
    min-height: 100px;
    transition: all .5s ease;
}

.folder.active .folder-summary:after {
    width: 100%;
    transition: all .5s ease;
}

.folder.active .folder-summary__details__name {
    max-height: 100%;
    transition: all .3s ease;
}

.folder.active .folder-summary__end svg {
    transform-origin: center;
    transform: rotate(90deg);
    transition: all .3s ease;
}

.folder-content {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.shared-user {
    -webkit-box-align: center;
    align-items: center;
    color: #6a696a;
    display: -webkit-inline-box;
    display: inline-flex;
    font-weight: 500;
    margin-left: 5px;
    outline: none;
    text-decoration: none;
}

.shared-user__avatar {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.folder-summary {
    cursor: pointer;
    display: -webkit-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1;
    height: 100px;
    position: relative;
    transition: all .5s ease;
}

.folder-summary__start {
    position: relative;
    margin-left: 15px;
}

.folder-summary__file-count__amount {
    color: #ffffff;
    font-size: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.folder-summary__file-count {
    position: relative;
    width: 45px;
    height: 45px;
    text-align: center;
}

.folder-summary__file-count svg,
.folder-summary__file-count .fa {
    color: #F4AE86;
    height: 38px;
    width: auto;
}

.folder-summary__file-count .fa {
    font-size: 2.5rem;
}

.folder-summary__file-count .fa.fa-folder-open {
    transform: translateY(-38px);
    opacity: 0;
}

.folder-summary__details {
    padding: 2px 0 0 13px;
    width: 100%;
}

.folder-summary__details__name {
    color: #393738;
    font-size: 1rem;
    max-height: 60px;
    line-height: 20px;
    overflow: hidden;
    font-weight: 500;
    transition: all .3s ease;
}

.folder-summary__details__share {
    -webkit-box-align: center;
    align-items: center;
    color: #b5b4b5;
    display: -webkit-box;
    display: flex;
    font-size: 15px;
    margin-top: 8px;
}

.folder-summary__avatar {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #b5b4b5;
    border-radius: 100%;
    background-color: rgba(181, 180, 181, 0.5);
    border: 1px solid #b5b4b5;
}

.folder-summary__status {
    position: absolute;
    right: 15px;
    bottom: 15px;
    border-radius: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 8px 15px;
}

.folder-summary__end {
    margin-right: 15px;
}

.folder-summary__end svg {
    width: 30px;
    height: 30px;
    fill: #c3c2c3;
    transition: all .3s ease;
}

.folder-summary::after {
    background: #e6e6e6;
    position: absolute;
    bottom: -2px;
    content: "";
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0;
    transition: all .5s ease;
}

.folder-collapse-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    height: 30px;
    opacity: 0;
    outline: none;
    position: absolute;
    position: relative;
    width: 30px;
    z-index: 1;
}

.folder-collapse-button::after {
    background: #efeff0;
    border-radius: 40px;
    content: "";
    height: 35px;
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    width: 35px;
}

.folder-collapse-button:hover::after {
    opacity: 1;
}

.folder-collapse-button svg {
    color: #9c9c9e;
    left: 50%;
    position: absolute;
    stroke-width: 3;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}

.folder-item {
    cursor: pointer;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin: 0;
    opacity: 1;
    position: relative;
    transition: all .3s ease;
}

.folder-item:hover {
    transition: all .3s ease;
    background-color: #f7f7f7;
}

.folder-item-wrap {
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-decoration: none;
}

.folder-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    font-size: 1.8rem;
}

.folder-item__details {
    width: 100%;
}

.folder-item__details__action {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.folder-item__details__btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(244, 174, 134, 0.8);
    background-color: rgba(244, 174, 134, 0.3);
}

.folder-item__details__btn:hover {
    color: #f4ae86;
    background-color: rgba(244, 174, 134, 0.4);
}

.folder-item__details__name {
    color: #393738;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.folder-item__details__name svg {
    height: auto;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(5px, calc(-50% + 1px));
    transform: translate(5px, calc(-50% + 1px));
    width: 20px;
}

.folder-item__details__date {
    color: #b5b4b5;
    font-size: 15px;
    margin-top: 8px;
}

.folder-item__details__value {
    color: #b5b4b5;
    font-size: 15px;
    margin-top: 8px;
}

.folder-item__size {
    color: #6a696a;
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.1rem;
}

.folder-item:not(:last-child)::after {
    background: #edecee;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    position: absolute;
    right: 0;
}

.documents_wrap {
    width: 100%;
    height: 100%;
    overflow-x: auto;
}

.doc_list {
    display: block;
    width: 100%;
    transition: all .3s ease;
}

.doc_list .show_all {
    float: right;
}

.doc_item {
    cursor: pointer;
    position: relative;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: flex-start;
    background-color: #fff;
    margin-bottom: 15px;
    padding: 0;
    box-shadow: 0px 5px 20px rgba(244, 174, 134, 0.3);
    border-radius: 20px;
    transition: all .3s ease;
}

.doc_item:hover {
    transition: all .3s ease;
    box-shadow: 0px 10px 30px rgba(244, 174, 134, 0.35);
}

.doc_item .checked,
.folder-item .checked {
    display: none;
}

.doc_item.active .checked,
.folder-item.active .checked {
    display: flex;
}

.folder-item.active .folder-item__icon {
    margin: 0;
}

.doc_item.active .doc_icon {
    margin-right: 15px;
}

.folder .checked {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    color: rgb(160, 160, 160);
    font-size: 25px;
    z-index: 9999;
}

.folder .checked.active {
    color: forestgreen;
}

.checked {
    display: flex;
    width: 20px;
    height: 100%;
    font-size: 20px;
    color: forestgreen;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.doc_item .doc_item_wrap {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
}

.doc_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-left: 15px;
    font-size: 1.8rem;
}

.doc_detail {
    flex-basis: 80%;
    max-width: 80%;
}

.doc_title {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #393738;
    font-size: 17px;
    font-weight: 500;
    position: relative;
}

.doc_date {
    color: #b5b4b5;
    font-size: 15px;
    margin-top: 8px;
}

.doc_size {
    color: #6a696a;
    font-weight: 500;
    margin: 0 15px;
    font-size: 1.1rem;
}

.air-datepicker-global-container {
    z-index: 99999;
}

.field_wrap {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

.one_colimn {
    width: 100%;
}

.two_colimn {
    width: 100%;
}

.fields {
    display: flex;
    flex-direction: column;
}

.fields .video {
    margin-bottom: 15px;
}

.video {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.video_frame {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video_frame img {
    width: 100%;
    height: auto;
}

.add_video {
    margin-top: 20px;
    width: 80px;
    height: 32px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.add_video.enable {
    cursor: pointer;
    background-color: #f5b74f;
    color: #fff;
}

.delete_video {
    cursor: pointer;
    width: 80px;
    height: 32px;
    background-color: #f3757a;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#filter {
    display: flex;
    gap: 20px;
}

#filter .fields_group label {
    font-size: 16px;
}

.fields_group {
    position: relative;
    margin-bottom: 35px;
    width: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
}

.fields_group label {
    position: absolute;
    top: 15px;
    left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    transition: top .3s ease;
}

.fields_group label.active {
    top: -25px;
    transition: top .3s ease;
}

.fields_group input,
.fields_group textarea {
    width: 100%;
    max-width: 331px;
    padding: 15px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 38px -8px rgba(36, 29, 25, 0.21);
    transition: all .3s ease;
    z-index: 10;
}

.fields_group input:active,
.fields_group input:focus,
.fields_group textarea:active,
.fields_group textarea:focus {
    border: 2px solid #F4AE86;
    box-shadow: 0px 22px 38px -8px rgba(36, 29, 25, 0.21);
    transition: all .3s ease;
}

.fields_group input:active~label,
.fields_group input:focus~label,
.fields_group textarea:active~label,
.fields_group textarea:focus~label {
    top: -25px;
    transition: top .3s ease;
}

.fields_group input {
    height: 45px;
}

.fields_group select {
    width: 100%;
    max-width: 100%;
    height: 45px;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
#specialists .inside{
    padding: 0;
    margin: 0;
}
#specialists .group{
    align-items: center;
    margin: 20px;
}
#specialists .group label{
    font-weight: bold;
}
#specialists_field,#application_specialist_shedule, #specialists_field_book{
    display: none;
}
.application_fields{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.application_fields .group{
    width: 100%;
    max-width: 400px;
}
.application_fields .group label{
    font-size: 18px;
}
.application_fields .group input:disabled{
    background: rgba(255,255,255,.5);
    border-color: rgba(220,220,222,.75);
    color: rgba(2, 2, 2, .9);
}
.specialist_shedule{
    width: 100%;
    min-height: 900px;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    text-align: center;
    
}
.specialist_shedule .weekday {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.specialist_shedule .time {
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.specialist_shedule .day {
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: rgb(38, 112, 57);
    padding: 0 10px;
    text-align: right;
    
}
.shedule_action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkall{
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    background-color: rgb(70, 219, 107);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.removeall{
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    width: 150px;
    height: 45px;
    background-color: #a54242;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}
.specialist_shedule td{
    position: relative;
    border: 1px solid #edecee;
    width: 120px;
}
.specialist_shedule td.active{
    background-color: rgb(93, 255, 133);
    border: 1px solid rgb(70, 219, 107);
}
.specialist_shedule td.active.check{
    background-color: #ffeaa7;
        border: 1px solid #a58242;
        color: #a58242;
}
.specialist_shedule td.active.check svg{
    fill: #a58242
}
.specialist_shedule td.active.book{
    background-color: #ffa7a7;
        border: 1px solid #a54242;
        color: #a54242;
}
.specialist_shedule td.active.book svg{
    fill: #a54242
}
.specialist_shedule td.active svg{
    fill: rgb(38, 112, 57);
}

.specialist_shedule td svg{
    position: absolute;
    left: 5px;
    top: 5px;
    fill:rgb(59, 59, 59);
    width: 30px;
    height: 30px;
}
.progress_bar{
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 86px;
    background-color: #ff4a4a47;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.progress_bar.done{
    opacity: 0;
    transition: all 0.3s ease;
}
.toast_wrap{
    position: fixed;
    right: 0;
    top: 0;
    width: 320px;
    height: max-content;
    max-height: 100%;
    gap: 15px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    overflow-y: auto;
    z-index: 99999;
}
.toast_item{
    width: 100%;
    min-height: 100px;
    height: max-content;
    color: #fff;
    background-color: #eee;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3 ease-in-out;
}
.toast_item.show{
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.3 ease-in;
}
.toast_item_head{
    position: relative;
    border-bottom: 1px solid;
}
.toast_item_close{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    color: inherit;
    font-size: 18px;
}
.toast_item h3{
    padding: 5px 15px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 255px; 
    color: inherit;
    white-space: nowrap;
}
.toast_item p{
    padding: 5px 15px;
    margin: 0;
}
.toast_item.success{
    background-color: #2ecc71;
    box-shadow: 0 3px 15px #2ecc71;
    color: rgb(28, 98, 0);
}
.toast_item.success .toast_item_head{
    border-color: #27ae60;
}
.toast_item.warning{
    background-color: #f1c40f;
    box-shadow: 0 3px 15px #f1c40f;
    color: rgb(98, 83, 0);
}
.toast_item.warning .toast_item_head{
    border-color: #f39c12;
}
.toast_item.error{
    background-color: #e74c3c;
    box-shadow: 0 3px 15px #e74c3c;
    color: rgb(98 10 0);
}
.toast_item.error .toast_item_head{
    border-color: #c0392b;
}